<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
">
    <!--spring-mvc的核心配置文件-->
    <!--配置注解的组件扫描包 只扫描controller包下的类- 需要配置context命名空间和约束-->
    <context:component-scan base-package="cn.itcast.controller"/>
    <!--配置视图解析器 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!--配置注解驱动 需配mvc命名空间和约束-->
    <mvc:annotation-driven/>
    <!--静态资源放行 需配mvc命名空间和约束-->
    <mvc:default-servlet-handler/>



</beans>
       
